/*  *  *  *  *  G L O B A L S  *  *  *  *  */


body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
    display: none;
}

*:focus {
    outline: none;
}

.navbar {
    padding: 0 max(calc(calc(100% - 1000px) / 2), 30px);
    height: 4rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    overflow: hidden;
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.m-auto{margin: auto;}
.ml-auto{margin-left: auto;}
.mr-auto{margin-right: auto;}

.navbar-items{
    display: flex;
}

.nav-item{
    list-style: none;
    padding: 0 1rem;
}

.nav-item > a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-item > a:hover{
    color: green;
}


.content{
    padding: 0 max(calc(calc(100% - 1000px) / 2), 30px);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.toolbar{
    /* grid-column: span 3; */
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.toolbar-search-box{
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.toolbar-search{
    border: none;
    margin: 0 .5rem;
    font-family: inherit;
    font-size: 13.25px;
}

.toolbar-search:focus{outline: none;}
.toolbar-search::placeholder{
    font-family: inherit;
    font-size: 13.25px;
    opacity: .7;
}

.toolbar-items{
    display: flex;
}

.toolbar-item{
    margin: 0 .7rem;
    font-size: 24;
    list-style: none;
}

.toolbar-item > a{ text-decoration: none; }

.action-btn{
    font-size: 13.25px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 20px;
    color: black;
    white-space: nowrap;
}

.action-btn:hover{
    background-color: green;
    color: white;
}

.card{
    width: 240px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px;
    margin: 30px 0;
}
.card:hover{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 12px 1px;}

.card-row{
    display: flex;
    align-items: center;
}

.post-date{
    margin: 10px 0;
    padding: 0;
    opacity: .7;
}

.card-header{
    color: green; 
    margin: 0
}

.card-content{line-height:25px;}

.text-green{color: green;}